In [1]:
## all imports
from IPython.display import HTML
import chardet
import io
import numpy as np
np.seterr(divide='ignore', invalid='ignore')
import os
import urllib.request
from urllib.request import urlopen
from bs4 import BeautifulSoup
from time import sleep
import requests
import operator
import socket
import _pickle
import math
import re # regular expressions

from pandas import Series
import pandas as pd
from pandas import DataFrame

import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
plt.rcParams['figure.figsize'] = (20, 10)
import json

import seaborn as sns
sns.set_context("talk")
sns.set_style("white")

from selenium import webdriver
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC



#from secret import *

### LOAD DATA FROM SYSTEM OR WEB

In [2]:
if os.path.isfile("afl.com.au_full_data_set.csv"):
    filepath_afl = "afl.com.au_full_data_set.csv"
    print ("afl.com.au loading from file")
    
else:
    filepath = "https://docs.google.com/spreadsheets/d/1pfiz1CjeaS36L5CZIGqcXByj9qGpxKztXcsQ8o-1rOQ/pub?output=csv"
    print ("afl.com.au loading from the internet")

afl.com.au loading from file

In [20]:
if os.path.isfile("afl_wiki_data_set.csv"):
    filepath_wiki = "afl_wiki_data_set.csv"
    print ("afl_wiki loading from file")
    
else:
    filepath = "https://docs.google.com/spreadsheets/d/1pfiz1CjeaS36L5CZIGqcXByj9qGpxKztXcsQ8o-1rOQ/pub?output=csv"
    print ("afl_wiki loading from the internet")

afl_wiki loading from file

### READ CSV FILE

In [21]:
df_afl= pd.read_csv(filepath_afl)
print ("done")

done

In [22]:
df_wiki= pd.read_csv(filepath_wiki)
print ("done")

done

In [166]:
df_afl.shape

(6252, 66)

In [ ]:
### look through each row of the afl.com.au dataset

In [163]:
def wiki_total_score(x):
    score = x.Away_Total + x.Home_Total
    return (score)

In [164]:
df_wiki['Match_Total_Score']= df_wiki.apply(wiki_total_score, axis =1)

In [167]:
df_wiki.loc[3]

Unnamed: 0                                                           3
Away_Behinds                                                        8
Away_Goals                                                          11
Away_Team                                                       Sydney
Away_Total                                                          74
Crowd                                                            32910
Date                                                                 9
Day                                               No Day Data Provided
Home_Behinds                                                       15
Home_Goals                                                          19
Home_Team                                                     Hawthorn
Home_Total                                                         129
Match_Link                                             no match report
Month                                                        September
Round                                               Elimination Finals
Structured_Data                                    2001-09-09 14:30:00
Time                                                           2:30 pm
Venue                                                   Etihad Stadium
Year                                                              2001
City                                                         Melbourne
station_ID                                 1487228352&p_stn_num=086232
URL                  http://www.bom.gov.au/jsp/ncc/cdio/weatherData...
Rain                                                               5.8
Match_Total_Score                                                  203
Name: 3, dtype: object

In [101]:
df_wiki.head()

,Unnamed: 0,Away_Behinds,Away_Goals,Away_Team,Away_Total,Crowd,Date,Day,Home_Behinds,Home_Goals,...,Month,Round,Structured_Data,Time,Venue,Year,City,station_ID,URL,Rain
0,0,13,5,Richmond,43,78253,7,No Day Data Provided,11,17,...,September,Qualifying Finals,2001-09-07 19:45:00,7:45 pm,MCG,2001,Melbourne,1487228352&p_stn_num=086232,http://www.bom.gov.au/jsp/ncc/cdio/weatherData...,0
1,1,8,8,Port Adelaide,56,32380,8,No Day Data Provided,16,12,...,September,Qualifying Finals,2001-09-08 19:40:00,7:40 pm,Gabba,2001,Brisbane,334811501&p_stn_num=040913,http://www.bom.gov.au/jsp/ncc/cdio/weatherData...,0.2
2,2,14,6,Adelaide,50,53982,8,No Day Data Provided,16,17,...,September,Elimination Finals,2001-09-08 14:30:00,2:30 pm,MCG,2001,Melbourne,1487228352&p_stn_num=086232,http://www.bom.gov.au/jsp/ncc/cdio/weatherData...,0.4
3,3,8,11,Sydney,74,32910,9,No Day Data Provided,15,19,...,September,Elimination Finals,2001-09-09 14:30:00,2:30 pm,Etihad Stadium,2001,Melbourne,1487228352&p_stn_num=086232,http://www.bom.gov.au/jsp/ncc/cdio/weatherData...,5.8
4,4,14,7,Carlton,56,83323,15,No Day Data Provided,7,10,...,September,Semi Finals,2001-09-15 14:30:00,2:30 pm,MCG,2001,Melbourne,1487228352&p_stn_num=086232,http://www.bom.gov.au/jsp/ncc/cdio/weatherData...,0.2

In [123]:
df_testing = df_afl.head(5)
df_testing

,Unnamed: 0,Unnamed: 0.1,BEHINDS,BOUNCES,CENTRECLEARANCES,CLANGERS,CONTESTEDMARKS,CONTESTEDPOSSESSIONS,DISPOSALEFFICIENCY,DISPOSALS,...,TACKLES_PERC,CONTESTEDPOSSESSIONS_PERC,CONTESTEDMARKS _PERC,UNCONTESTEDPOSSESSIONS_PERC,TURNOVERS_PERC,TOTALPOSSESSIONS_PERC,INSIDE50S_PERC,DISPOSALEFFICIENCY_PERC,CENTRECLEARANCES_PERC,TEST_CROWD
0,0,0,5,8,19,49,14,138,73.6,348,...,43.51,48.08,56.0,49.75,54.36,49.06,44.04,48.23,54.29,None
1,1,1,12,3,16,55,11,149,79.0,352,...,56.49,51.92,44.0,50.25,45.64,50.94,55.96,51.77,45.71,None
2,2,2,14,2,16,45,12,161,74.5,431,...,43.51,54.39,50.0,51.59,52.63,52.59,58.49,49.17,61.54,None
3,3,3,10,3,10,44,12,135,77.0,392,...,56.49,45.61,50.0,48.41,47.37,47.41,41.51,50.83,38.46,None
4,4,4,12,6,14,51,9,139,69.7,337,...,46.49,48.60,50.0,39.41,48.06,42.73,43.88,47.35,42.42,None

In [135]:
def wiki_data_row (row):
    ## use total score
    
    
    AFL_Home_Team = row.TEAMNAME
    #print (AFL_Home_Team)
    AFL_Away_Team = row.OPPONENT
    #print (AFL_Away_Team)
    AFL_Year = row.YEAR
    #print (AFL_Year)
    #print ("yes")
    #Home_AFL_Goals = row.TOTAL_SCORE
    #print (Home_AFL_Goals)
    index_test = df_wiki.loc[(df_wiki.Away_Team == AFL_Away_Team) & (df_wiki.Home_Team == AFL_Home_Team) & (df_wiki.Year == AFL_Year)]
    #index_done = (index_test.index)
    print (index_test)
    #matching_wiki_row = df_wiki.loc[index]
    #print(matching_wiki_row)
    #print (matching_wiki_row.Crowd)

In [136]:
df_testing["TEST_CROWD"] = df_testing.apply(wiki_data_row, axis=1)

      Unnamed: 0 Away_Behinds  Away_Goals Away_Team  Away_Total  Crowd  Date  \
3081        3081          12           20  Richmond         132  73137    23

           Day Home_Behinds  Home_Goals ...   Month                    Round  \
3081  Thursday           5           14 ...   March  Round 1 (Opening Round)

          Structured_Data     Time Venue  Year       City  \
3081  2017-03-23 19:20:00  7:20 pm   MCG  2017  Melbourne

                       station_ID  \
3081  1487228352&p_stn_num=086232

                                                    URL Rain
3081  http://www.bom.gov.au/jsp/ncc/cdio/weatherData...    0

[1 rows x 23 columns]
Empty DataFrame
Columns: [Unnamed: 0, Away_Behinds, Away_Goals, Away_Team, Away_Total, Crowd, Date, Day, Home_Behinds, Home_Goals, Home_Team, Home_Total, Match_Link, Month, Round, Structured_Data, Time, Venue, Year, City, station_ID, URL, Rain]
Index: []

[0 rows x 23 columns]
      Unnamed: 0 Away_Behinds  Away_Goals         Away_Team  Away_Total  \
3082        3082          10           15  Western Bulldogs         100

      Crowd  Date     Day Home_Behinds  Home_Goals ...   Month  \
3082  66254    24  Friday          14           12 ...   March

                        Round      Structured_Data     Time Venue  Year  \
3082  Round 1 (Opening Round)  2017-03-24 19:50:00  7:50 pm   MCG  2017

           City                   station_ID  \
3082  Melbourne  1487228352&p_stn_num=086232

                                                    URL Rain
3082  http://www.bom.gov.au/jsp/ncc/cdio/weatherData...    0

[1 rows x 23 columns]
Empty DataFrame
Columns: [Unnamed: 0, Away_Behinds, Away_Goals, Away_Team, Away_Total, Crowd, Date, Day, Home_Behinds, Home_Goals, Home_Team, Home_Total, Match_Link, Month, Round, Structured_Data, Time, Venue, Year, City, station_ID, URL, Rain]
Index: []

[0 rows x 23 columns]
      Unnamed: 0 Away_Behinds  Away_Goals  Away_Team  Away_Total  Crowd  Date  \
3084        3084          12           18  Melbourne         120  36249    25

           Day Home_Behinds  Home_Goals ...   Month                    Round  \
3084  Saturday          12           13 ...   March  Round 1 (Opening Round)

          Structured_Data     Time           Venue  Year       City  \
3084  2017-03-25 16:35:00  4:35 pm  Etihad Stadium  2017  Melbourne

                       station_ID  \
3084  1487228352&p_stn_num=086232

                                                    URL Rain
3084  http://www.bom.gov.au/jsp/ncc/cdio/weatherData...    0

[1 rows x 23 columns]

/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [121]:
def wiki_data_row (row):
    AFL_Home_Team = row.TEAMNAME
    #print (AFL_Home_Team)
    AFL_Away_Team = row.OPPONENT
    #print (AFL_Away_Team)
    AFL_Year = row.YEAR
    #print (AFL_Year)
    if row.HOME == True:
        #print ("yes")
        Home_AFL_Goals = row.TOTAL_SCORE
        #print (Home_AFL_Goals)
        index_test = df_wiki.loc[(df_wiki.Away_Team == AFL_Away_Team) & (df_wiki.Home_Team == AFL_Home_Team) & (df_wiki.Year == AFL_Year) & (df_wiki.Home_Goals == Home_AFL_Goals) ]
        index_done = (index_test.index)
        print (index_test.index)
        matching_wiki_row = df_wiki.loc[index]
        #print(matching_wiki_row)
        #print (matching_wiki_row.Crowd)
    else: 
        #print ("no")
        Away_AFL_Goals = row.TOTAL_SCORE
        #print ( Away_AFL_Goals)
        index_test = df_wiki.loc[(df_wiki.Away_Team == AFL_Away_Team) & (df_wiki.Home_Team == AFL_Home_Team) & (df_wiki.Year == AFL_Year) & (df_wiki.Away_Goals ==  Away_AFL_Goals)]
        index_done = (index_test.index)
        matching_wiki_row = df_wiki.loc[index]
        print (matching_wiki_row.Crowd)

In [122]:
df_testing["TEST_CROWD"] = df_testing.apply(wiki_data_row, axis=1)

Int64Index([], dtype='int64')
3    32910
Name: Crowd, dtype: object
Int64Index([], dtype='int64')
3    32910
Name: Crowd, dtype: object
Int64Index([], dtype='int64')

/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [117]:
df_testing.head()

,Unnamed: 0,Unnamed: 0.1,BEHINDS,BOUNCES,CENTRECLEARANCES,CLANGERS,CONTESTEDMARKS,CONTESTEDPOSSESSIONS,DISPOSALEFFICIENCY,DISPOSALS,...,TACKLES_PERC,CONTESTEDPOSSESSIONS_PERC,CONTESTEDMARKS _PERC,UNCONTESTEDPOSSESSIONS_PERC,TURNOVERS_PERC,TOTALPOSSESSIONS_PERC,INSIDE50S_PERC,DISPOSALEFFICIENCY_PERC,CENTRECLEARANCES_PERC,TEST_CROWD
0,0,0,5,8,19,49,14,138,73.6,348,...,43.51,48.08,56.0,49.75,54.36,49.06,44.04,48.23,54.29,32910
1,1,1,12,3,16,55,11,149,79.0,352,...,56.49,51.92,44.0,50.25,45.64,50.94,55.96,51.77,45.71,32910
2,2,2,14,2,16,45,12,161,74.5,431,...,43.51,54.39,50.0,51.59,52.63,52.59,58.49,49.17,61.54,32910
3,3,3,10,3,10,44,12,135,77.0,392,...,56.49,45.61,50.0,48.41,47.37,47.41,41.51,50.83,38.46,32910
4,4,4,12,6,14,51,9,139,69.7,337,...,46.49,48.60,50.0,39.41,48.06,42.73,43.88,47.35,42.42,32910

In [ ]:
df.loc[df['column_name'] == some_value]
x[x].index

### START GRAPHING

In [21]:
%matplotlib inline
plt.rcParams['figure.figsize'] = (20, 10)

In [ ]:
df_win = df[df.RESULT == "Win"]
df_lose = df[df.RESULT == "Lose"]