In [2]:
## all imports
from IPython.display import HTML
import chardet
import io
import numpy as np
import os
import urllib.request
from urllib.request import urlopen
from bs4 import BeautifulSoup
from time import sleep
import requests
import operator
import socket
import _pickle
import re # regular expressions

from pandas import Series
import pandas as pd
from pandas import DataFrame

import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set_context("talk")
sns.set_style("white")

#from secret import *

https://tryolabs.com/blog/2017/03/16/pandas-seaborn-a-guide-to-handle-visualize-data-elegantly/
    
https://github.com/ssweeney1988/pandas-cookbook 
    
https://github.com/notionparallax/code1161base/blob/master/week6/basic_pandas.ipynb

http://sensitivecities.com/so-youd-like-to-make-a-map-using-python-EN.html#.WQgABvmGOUl

### Series- 1d

In [6]:
df = pd.Series([1, 90, 'hey', np.nan], index=['a', 'B', 'C', 'd'])

### Dataframe- 2d

In [8]:
pd.DataFrame({'day': [17, 30], 'month': [1, 12], 'year': [2010, 2017]})

   day  month  year
0   17      1  2010
1   30     12  2017

In [ ]:
count, mean, max, min, cumsum, imax, imin, describe, rank

### GroupBy

In [ ]:
http://pandas.pydata.org/pandas-docs/stable/groupby.html

### Pivot

In [ ]:
p_titanic = titanic.drop_duplicates('age').pivot(index='age', columns='class', values='fare')
p_titanic.tail(3)

We can define what we want as the index, column and value

You must have the column set as index not having any duplicates

### Pivot Table

In [ ]:
pt_titanic = titanic.pivot_table(index='age', columns='class', values='fare')
pt_titanic.tail(3)

In [ ]:
titanic.pivot_table(index='embark_town', columns='age_group', values='fare', aggfunc=np.median)

### Seaborn